html, body {
  background-color: linear-gradient(to right, #000000, #00182f) !important;
  color: #dbdbdb !important; /* Set the text color to a suitable color */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.navbar.navbar-expand-lg {
  background: linear-gradient(to right,#000000, #00182f);/* Set the background to transparent */
}
.navbar.navbar-expand-lg .navbar-nav {
  margin-left: auto; /* Push the navbar items to the right */
}

.navbar.navbar-expand-lg .navbar-nav .nav-link {
  
  font-size: 20px;
  padding-right: 1cm;
  /* padding-top: 0.5cm; */
  color: #dbdbdb; /* text color */
  font-family:'Courier New', Courier, monospace;

}

.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right,#000000, #00182f);
  color: #dbdbdb; /* text color */

}

/* .ProfilePicContainer {
  margin-left: auto; 
   padding: 2cm;
  padding-bottom: 5cm;
}  */

.ProfilePicContainer {
  margin-left: auto; 
  padding: 2cm;
  display: flex;
  padding-bottom: 5cm;
  flex-direction: column;
  align-items: center;
}
 .ProfilePic {
  width: 400px;
  border-radius: 50%; 
  /* Add other styles as needed */
 }

.Intro-container{
  padding-top: 2cm;
  padding-left: 0.5cm;
  padding-bottom: 0.5cm;
  width: 750px;
}



.TechStackContainer {
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  background: linear-gradient(to right, #000000, #00182f);
  padding-top: 2cm; /* Adjust as needed */
 
  color: #dbdbdb; /* text color */
}

.TechStackText {
}

/* .icons-container{
  background: linear-gradient(to right, #000000, #00182f);
  color:#dbdbdb ;
  padding-top: 1cm;

} */


.icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #000000, #00182f);
  color:#dbdbdb ;
  padding-top: 0.5cm;
}

/* Add additional styling for individual icons as needed */
.icons-container i {
  margin: 10px;
}

.btn{
  margin-top: 1.5cm;
  padding: 0.5rem,1rem;
}

.Projects{
  background: linear-gradient(to right, #000000, #00182f);
  color:#dbdbdb ;
  padding: 2cm;
  padding-top: 5cm;
}



.p1{
  margin-top: 2cm;
}

.p2,.p3{
  margin-top: 2cm;
}

.enroll-badge-content {
  display: flex;
  align-items: flex-start;
  font-family: 'Times New Roman', Times, serif;

}

.enroll-badge-content img {
  margin-left: 150px; /* Adjust the margin as needed */
  margin-top: 10px;
  height: auto;
  max-width: 270px;
}

.bucky-courses-content,.dragon-learn-content {
  display: flex;
  flex-direction: row; /* Horizontal layout */
  align-items: flex-start; /* Align content at the top */
}

.content-container {
  flex: 1; /* Take remaining space */
  padding-left: 2cm; /* Adjust spacing as needed */
}

.custom-iframe-style {
  width: 125%;
  height: 250px; 
  border: none; 
  padding-left: 2cm;
}
.custom-iframe-style2 {
  width: 125%;
  height: 250px; 
  border: none; 
  padding-left: 2cm;
}




.contact-me {
  background: linear-gradient(to right, #000000, #00182f);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2.2cm;
  padding: 2cm;
  flex-direction: column; /* add this line to change direction */
}

.contact-icons-container {
  margin-left: 40px;
 
}

.contact-text-container {
  margin-top: 10px; /* add some margin to separate the text from icons */
  padding-left: 1cm;
}

