

.navbar.navbar-expand-lg {
  background: linear-gradient(to right,#000000, #00182f);/* Set the background to transparent */
}
.navbar.navbar-expand-lg .navbar-nav {
  margin-left: auto; /* Push the navbar items to the right */
}

.navbar.navbar-expand-lg .navbar-nav .nav-link {
  
  font-size: 20px;
  padding-right: 1cm;
  /* padding-top: 0.5cm; */
  color: #dbdbdb; /* text color */
  font-family:'Courier New', Courier, monospace;

}

.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right,#000000, #00182f);
  color: #dbdbdb; /* text color */
}

.ProfilePicContainer {
  margin-left: auto; 
   padding: 5cm;
  padding-bottom: 10cm;
} 

 .ProfilePic {
  width: 400px;
  border-radius: 50%; 
  /* Add other styles as needed */
 }

.Intro-container{
  padding-top: 2cm;
  padding-left: 0.5cm;
  padding-bottom: 0.5cm;
  width: 1000px;
}



.TechStackContainer {
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  padding-bottom: 2cm;
  background: linear-gradient(to right, #000000, #00182f);
  color: #dbdbdb; /* text color */
}

.TechStackText {
}

